# ビルド成果物
dist/
release/
build/*.exe

# 開発環境
node_modules/
.DS_Store
.env
logs/
uploads/

# Python関連
__pycache__/
*.py[cod]
*$py.class
.env
secret/api_key.json
secret/api-keys.json
src/config/api-keys.js

build/python_server/
