@use "../../global" as *;

.c-button {
  display: inline-block;
  background-color: $blue;
  color: #FFFFFF;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.c-button:hover {
  background-color: #336A6F;
}