/* リキッドレイアウト対応 */
@use "../global" as *;

@if $startFrom == sp {
  // スマホファーストの場合
  html {
    font-size: 16px;

    @media (max-width: 375px) {
      font-size: vw(375, 16);
    }


    @include mq("md") {
      font-size: vw(strip-unit($l-inner), 16);
    }

    @media (min-width: $l-inner) {
      font-size: 16px;
    }
  }
} @else {
  // PCファーストの場合
  html {
    font-size: 16px;

    @media (min-width: 1440px) {
      font-size: rem(16);
    }

    @media (max-width: $l-inner) {
      font-size: vw(strip-unit($l-inner), 16);
    }

    @include mq("md") {
      font-size: 16px;
    }

    @media (max-width: 375px) {
      font-size: vw(375, 16);
    }
  }
}

/* pcの電話番号発信対応 */
a[href^="tel:"] {
  @include mq("md") {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
  @include mq("md") {
    &:hover {
      opacity: 0.8;
    }
  }
}
