@use "./global.scss" as *;


.button {
  background-color: blue;
  color: $primary-color;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color:red;
    color: white;
  }
}
