@use "../../global" as *;

@if $startFrom == sp {
  .l-inner {
    width: 100%;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    margin-right: auto;
    margin-left: auto;
    @include mq("md") {
      max-width: $l-inner + $padding-pc * 2;
      padding-right: $padding-pc;
      padding-left: $padding-pc;
    }
  }
} @else {
  .l-inner {
    max-width: $l-inner + $padding-pc * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    @include mq("md") {
      padding-right: $padding-sp;
      padding-left: $padding-sp;
    }
  }
}
