
// インナー幅設定
$l-inner: 68.75rem;
$padding-pc: 3.13rem;
$padding-sp: 1.56rem;

// 色の指定
$primary-color: #231815;
$secondary-color: #0076ad;
$accent-color: #ff5722;
$abc: #000000;

// フォント設定
$ja: "";
$en: "";
